
.project-title{
    margin-top: 20px;
    padding: 0 20px;
}

.project-description-container{
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 40px;

    display: flex;
}

.project-description-title{
    margin-top: 0;
}

.text-description{
    text-align: justify;
    margin-top: 15px;
}

.alabama-project-logo{
    display: none;
}

.button {
    margin: 40px 0;
    background-color: var(--lleyow);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.button a {
    text-decoration: none;
    color: var(--black);
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento{
    flex: 1 0 auto;
    margin: 0 20px;
    background-color: red;
    width: 350px;
    height: 300px;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {

    .alabama-project-logo{
        display: flex;
    }

    .elemento{
        flex: 1 0 auto;
        margin: 0 20px;
        background-color: red;
        width: 750px;
        height: 600px;
    }

    .button:hover{
        background-color: var(--pink);
    }

}